.mypage{
  width:900px;
  display:grid;
  grid-template-rows:auto;
  gap:10px;
}
.missionTitleContainer{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
}
.mymissionstitle{
  grid-column: 1/4;
}
.commentTitleContainer{
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
}
.mycommentstitle{
  grid-column: 1/4;
}

.userInfo{
  display: grid;
  grid-template-columns: 1fr 15fr;
}

.tokenInfo{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.balances{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.transferToken{
  display: grid;
  grid-template-columns: 15fr 1fr 1fr;
  gap:5px;
}

.myStuffs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:30px;
}